{{!-- This is a comment in Handlebars --}}
{{!-- <div id="messages-container" data-conversation-id="{{data.conversationId}}" data-show-new-convo="{{data.showNewConvo}}"></div> --}}

{{!-- <iframe src="https://ui.bterai.com/admin" width="600" height="400"></iframe> --}}
{{!-- Add this iframe element where you want it to appear --}}
{{!-- <iframe src="{{data.iframeSrc}}" frameborder="0" width="100%" height="500"></iframe> --}}
    <iframe height="1000px" width="100%"  src="https://ui.bterai.com/admin//login?email=arjun@sidsfarm.com&password=1234"></iframe>
